/* At-Rules */
@charset "iso-8859-1";

/* Bible SuperSearch
// Bible SuperSearch Version 1.0.00
// The free, open source, PHP and MySQL web-based   
// Bible Reference retrevial and search utility
//
// Copyright (C) 2006 Luke Mounsey
// www.BibleSuperSearch.com
// www.Alive-in-Christ.com
//
// bible_stylesheet.css
// This contains all Cascading Stylesheet information needed 
// for Bible SuperSearch formatting and displaying Bible Verses
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License included in the file 
// "license.txt" for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

// Bible_Stylesheet.css Version 0.5
*/

/* Formatting for verses and default formatting for everythign else */
body {margin:0; text-align: left; font-family:Arial,sans-serif;

}

/* Default Links */
A:link {color:navy; text-decoration:underline;}
A:visited {color:navy;}
A:active {color:navy;}

/* Help link */
A.helplink{color:lightblue;text-decoration:underline;}

/* Bible SuperSearch info */
span.info{font-size:70%;}

/* "center" shortcut */
.center{text-align:center;}

/* centers tables and divs */
.element_center{margin-left:auto; margin-right:auto;}

/* Title - appears at TOP of page, ie Bible SuperSearch */
.title {font-size:18.0pt; color:darkorange; text-align:center;}

/* BOOK LIST*/

/* Area limitation for the book list*/
div.booklist{text-align:justify; width:81%; line-height:3; margin:auto;}

/* Formatting for book link TEXT   This "span" SURROUNDS the book link*/
span.booklink{background-color:tan; padding:7; margin:5; margin-top:20; text-decoration:none;font-family:serif}

/* Formatting for book LINK */
a.book_link{text-decoration:none;}

/* Area limitation for verse list*/
p.verse, div.verse {margin-left:.5in;  margin-right:.5in}

/* Heading for Old and New Testaments for book list */
.testamentheader{font-family:Old English Gothic, Old English; text-align:center; font-size:120%}
/* VERSE DISPLAY */

/* Header reference for multiple verses or whole book */
div.passage_header{font-weight:bold;font-size:110%;text-align:center;}

/* Reference for individual verses */
span.ver_ref{font-weight:bold;}

/* Verse references for ranges, whole chapters and books */
span.ran_ref{font-weight:bold}

/* Chapter headings for full book display */
div.chapter{text-decoration:underline}

/* Simulates a real link for JavaScript popup "help"*/
.link{text-decoration:underline; color:navy; cursor:pointer;}

/* Highlighting for searches */
span.hl{font-weight:bold;}

/* Context Links for individual verses */

a.ct{text-decoration:none;color:black;}
a:hover.ct{text-decoration:underline overline;}

/* FORMS */

/* General forms /*

/* Text boxes */
.text_box{}

/* Drop-down menus */
.drop_down{}

/* Bible version (drop-down menu) */
.bible_version{width:250px}

/* Labels for radio buttons and check boxes */
/* (Text for search type, Whole words only */
.label{font-size:80%; font-family:Arial; color:white;}

/* Bible version (This will eventually be a drop-down menu) */
span.bible_version{color:white;}

/* Buttons */
.button{font-size:10pt;;font-family:Arial, sans-serif;padding:0;margin:0;vertical-align:center;}
/* this controls various aspects of different sized buttons, 
   so they all look identical */
.button_small{width:50px;}
.button_med{width:74px;}

/* Styles for table (nice) formatting */
.t_text{text-align:justify;vertical-align:top;}
.t_verse{text-align:right;vertical-align:top;width:20px;font-size:70%;}
.s_verse{text-align:justify;vertical-align:top;}

/* FORMATTING BUTTONS */
a.forma{}

a.f-style{}
a:hover.f-style{}
a.visited.f-style{}

a.f-large{font-size:14pt;}
a:hover.f-large{}
a:visited.f-large{}

a.f-medium{font-size:12pt;}
a:hover.f-medium{}
a:visited.f-medium{}

a.f-small{font-size:10pt;}
a:hover.f-small{}
a:visited.f-small{}

a.f-serif{font-family:serif;}
a:hover.f-serif{}
a:visited.f-serif{}

a.f-sans{font-family:sans-serif;}
a:hover.f-sans{}
a:visited.f-sans{}

a.f-mono{font-family:monospace; font-size:13pt;}
a:hover.f-mono{}
a:visited.f-mono{}


/* "edit this request" */
div.request, span.request{background:white; border:1px solid; border-color:darkorange;padding-left:3;padding-right:3; font-size:10pt;}
/* "edit this request" link */
a:link.request{color:black; text-decoration:none;}
a:visited.request{color:black; text-decoration:none;}
a:hover.request{color:navy; text-decoration:underline;}

/* INTERFACE SPECIFIC FORMATTING
/* These stylesheets are for the "Classic" (Alive-in-Christ.com) interface */
/* Title */
.classic_title{padding:-1;margin:0;position:relative;top:0;}

/* Outer table */
.classic_outer_table{
margin-left:auto; margin-right:auto; 
/*Has no effect??
background-image: url('bible_images/background_classic.jpg');
background-position:hcenter;
background-repeat:no-repeat;
*/
position:absolute; 
top:0; left:0; padding:0; padding-top:0; width:100%; 
margin-right:0; HEIGHT:132;
}

/* Table row that contains the title */
.classic_title_row{text-align:center; spacing:0;padding:0; height:10px;}

/* Form envelope, (div, p or table cell) */
.classic_form{vertical-align:top;padding-bottom:0; spacing-bottom:0;}
/* Table cell with look up and Bible Version */
.classic_table2_lookup{vertical-align:top; text-align:right; color:white;}
/* Table cell with search and search options */
.classic_table2_search{vertical-align:top;padding-bottom:0; spacing-bottom:0;}
/* Table cell containing last search info */
.classic_table2_editsearch{padding-left:10px;}

